:root {
    --primary-color: #131635;
    --secondary-color: #EE1C25;
    --light-blue: #1E234E;
    --white-color: #fff;
}

body {
    font-family: 'Inter', sans-serif;
}

section {
    padding: 50px 0px;
}

#optimising-section {
    padding: 70px 0px 100px;
}